body {
    height: 100vh;
    margin: 0;
    background-color: #e7c27d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(23, 22, 22, 0.86);
    width: 430px;
    height: 530px;
    border-radius: 20px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px;
    width: 385px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 20px;
}

.display-2 {
    display: flex;
    justify-self: unset;
    align-items: flex-end;
    text-align: right;
    width: 92.5%;
    height: 95%;
    font-size: 33px;
    border: none;  
    color: rgba(23, 22, 22, 0.86);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 370px;
    gap: 15px;
}

button {
display: flex;
justify-content: center;
align-items: center;
width: 85px;
height: 55px;
border-radius: 10px;
border-color:white;
}

button:hover {
    background-color: rgba(167, 171, 194, 0.823);
    border-color: rgb(189, 194, 219);
    transition: all 0.2s;
  }

.clearBtn {
    background-color: rgb(232,0,13);
    border-color: rgb(255, 3, 15);
}

.clearBtn:hover {
    background-color: rgb(188, 26, 26);
    border-color: rgb(222, 33, 33);
    transition: all 0.2s;   
}

.deleteBtn {
    background-color: rgb(0,191,255);
    border-color: rgb(47, 203, 255);
}

.deleteBtn:hover {
    background-color: rgb(65,105,225);
    border-color: rgb(77, 120, 251);
    transition: all 0.2s;  
}

.operationBtn {
    background-color: rgb(220,208,255);
    border-color: rgb(255, 225, 255);
}

.operationBtn:hover {
    background-color: rgb(147,112,219);
    border-color: rgb(164, 125, 241);
    transition: all 0.2s;  
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 50px;
    width: 100%;
    margin-top: auto;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.footer a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}
input {
    all: inherit;
}